name: Minecraft Bot 7/24
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '*/20 * * * *' # Her 20 dakikada bir kontrol eder

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install mineflayer
      - run: node index.js
        timeout-minutes: 350 # 6 saat dolmadan hemen önce durur, cron tekrar başlatır
